@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

:root {
    color: var(--text-color);
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-size: 60px;
    text-align: center;
}

html, body {
    height: 100vh;
    overflow: hidden;
}

.container {
    background-color: var(--background-color);
    display: inline-block;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0px 5px 5px black;
    top: calc(100% - 10px); /* for some reason bottom doesnt work */
    transform: translateY(-100%);
    position: relative;
}

.lane {
    display: inline-block;
    margin: 10px;
}

.key {
    background-color: var(--key-background-color);
    padding: 10px;
    border-radius: 7px;
    display: inline-block;
    height: 60px;
    aspect-ratio: 1;
    text-align: center;

    transform: translateY(-9px);
    box-shadow: 0px 9px 0px var(--key-shadow-color);
    transition: all 100ms;
}

.lane.down .key {
    transition-duration: 0ms;
    transform: translate(0px);
    box-shadow: none;
    color: var(--active-text-color);
}
.lane.down .counter {
    color: var(--active-text-color);
}

.counter {
    transform: translateY(9px);
    font-size: 25px;
    display: block;
    width: 100%;
    text-align: center;
}

.visualizer {
    z-index: -1;
    width: 80px;
    height: calc(100vh - 200px);
    bottom: calc(100% - 20px);
    display: block;
    position: absolute;
    overflow: hidden;
    border-radius: 10px;
}

.visualizer-bar {
    background-color: var(--visualizer-color);
    width: 80px;
    position: absolute;
    border-radius: 10px;
    min-height: 5px;
    left: 0;
    bottom: 0;
}